# lines beginning with a # are ignored
net.host = gaia.loc
net.port = 54321
# colors:
# -1 transparent background
# 0 black
# 1 red
# 2 green
# 3 yellow
# 4 blue
# 5 magenta
# 6 cyan
# 7 white

# design of the history window
history.fg = 7
history.bg = -1

# design of the status window
status.fg = 7
status.bg = 1

# design of the info line
info.fg = 2
info.bg = -1
info.show = 1

# key config
key.pause = p
key.stop = S
key.love = l
key.next = n
key.ban = B
key.radio = r
key.discovery = d
key.quit = Q

